<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <form action="update/" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label><br>
        <input type="text" id="title" name="title" value="{{ field.title }}"><br>
        <label for="description">Description: </label><br>
        <input type="text" id="description" name="description" value="{{ field.description }}"><br>
        <label for="due_date">Due Date:</label><br>
        <input type="date" id="due_date" name="due_date" value="{{ field.due_date }}"><br>
        <label for="status">Status: </label><br>
        <input type="text" id="status" name="status" value="{{ field.status }}"><br>
        <input type="submit" value="Submit"> 
    </form>
    
</body>
</html>